<nav
  mat-tab-nav-bar
  style="margin: -1% -1% -16px -1%; background-color: #2f3133;"
>

  <a
    mat-tab-link
    [routerLink]="['/home']"
    class="nav-link"
    style="
    color: white;
    font-weight: bold;
    font-size: 47px;
    letter-spacing: 3px;
    font-family: Bangers;"
  >
    WE ARE OUTSTANDING
  </a>
  <div>
  <a class="nav-link" style="margin-right: 10rem;" mat-tab-link [routerLink]="['/new-review']">
    ADD REVIEW
  </a>

  <a class="nav-link" mat-tab-link [routerLink]="['reviews']">
    READ REVIEWS
  </a>
  </div>

  <div>

  <a class="nav-link" mat-tab-link> LOG IN </a>
  <a class="nav-link" mat-tab-link> LOG OUT </a>
  </div>

</nav>
