<nav
  mat-tab-nav-bar
  style="margin: -1% -1% -16px -1%; background-color: #2f3133;"
>
  <a
    mat-tab-link
    [routerLink]="['/home']"
    style="background-color: #6320EE;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: inherit;"
  >
    WE ARE OUTSTANDING
  </a>
  <a class="nav-link" mat-tab-link [routerLink]="['/new-review']">
    ADD REVIEW
  </a>
  <a class="nav-link" mat-tab-link [routerLink]="['reviews']">
    READ REVIEWS
  </a>
  <a class="nav-link" mat-tab-link> LOG IN </a>
  <a class="nav-link" mat-tab-link> LOG OUT </a>
</nav>
