/*.matInput {*/
/*  border: none;*/
/*  box-shadow: none;*/
/*}*/

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.form-item-box {
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.form-item-box2 {
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-right: 2rem;
  width: 26rem;
}
