<div class="row" style="margin-top: 1rem">
  <div class="col-md-10">
    <h3>Add a New Review</h3>
    <hr />
    <form
      [formGroup]="addReviewForm"
      (ngSubmit)="onSubmit(); addReviewForm.reset()"
    >
      <div style="display: flex">
        <div
          class="form-item-box"
          style="width: 22rem;
      margin-right: 2rem;"
        >
          <div class="col-md-6" style="max-width: 100%;">
            <div class="form-group">
              <label class="bmd-label-floating" for="schoolName"
                >School Name</label
              >
              <input
                type="text"
                id="schoolName"
                class="form-control matInput"
                formControlName="schoolName"
                autocomplete="off"
                (input)="onFilterNames($event)"
                list="schools"
              />
              <datalist *ngFor="let item of filtered" id="schools">
                <option value="item.id">{{ item.name }}</option>
              </datalist>
              <p>{{ this.filtered.length }}</p>
            </div>
          </div>
        </div>

        <div class="form-item-box2" style="width: 22rem;">
          <div class="col-md-6" style="max-width: 100%;">
            <div class="form-group">
              <label for="location" class="bmd-label-floating">Location</label>
              <input
                type="text"
                id="location"
                class="form-control matInput matInput"
                formControlName="location"
                autocomplete="off"
              />
            </div>
          </div>
        </div>

        <div class="">
          <div class="col-md-12">
            <div class="radio" style="margin-top: 12px;">
              <div style="margin-bottom: 2rem;">
                <input
                  type="radio"
                  value="Public"
                  id="Public"
                  formControlName="type"
                  name="type"
                />
                <label for="public" style="padding-left: 7px;">Public</label>
              </div>
              <div>
                <input
                  type="radio"
                  value="Private"
                  id="Private"
                  formControlName="type"
                  name="type"
                />
                <label for="private" style="padding-left: 7px;">Private</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="display: flex; flex-wrap: wrap;">
        <div class="form-item-box2">
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating" for="generalDescription"
                >General Description</label
              >
              <textarea
                type="text"
                id="generalDescription"
                class="form-control matInput"
                formControlName="generalDescription"
                rows="6"
              >
              </textarea>
            </div>
          </div>
        </div>

        <div class="form-item-box2">
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating" for="management"
                >Management</label
              >
              <textarea
                type="text"
                id="management"
                class="form-control matInput"
                formControlName="management"
                rows="6"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="form-item-box2">
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating" for="pupilsBehaviour"
                >Pupils' Behaviour</label
              >
              <textarea
                type="text"
                id="pupilsBehaviour"
                class="form-control matInput"
                formControlName="pupilsBehaviour"
                rows="6"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="form-item-box2">
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating" for="workload">Workload</label>
              <textarea
                type="text"
                id="workload"
                class="form-control matInput"
                formControlName="workload"
                rows="6"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="form-item-box2">
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating" for="workingHours"
                >Working Hours</label
              >
              <textarea
                type="text"
                id="workingHours"
                class="form-control matInput"
                formControlName="workingHours"
                rows="6"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="form-item-box2">
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating" for="pressure">Pressure</label>
              <textarea
                type="text"
                id="pressure"
                class="form-control matInput"
                formControlName="pressure"
                rows="6"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="form-item-box2">
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating" for="staff">Staff</label>
              <textarea
                type="text"
                id="staff"
                class="form-control matInput"
                formControlName="staff"
                rows="6"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="form-item-box2">
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating" for="infrastructures"
                >Infrastructures</label
              >
              <textarea
                type="text"
                id="infrastructures"
                class="form-control matInput"
                formControlName="infrastructures"
                rows="6"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="form-item-box2">
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating" for="policies">Policies</label>
              <textarea
                type="text"
                id="policies"
                class="form-control matInput"
                formControlName="policies"
                rows="6"
              ></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!addReviewForm.valid"
            style="margin-right: 2rem;"
          >
            Save
          </button>
          <button class="btn btn-danger" type="button">Discard</button>
        </div>
      </div>
    </form>
  </div>
</div>
