.type-radio-buttons-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.type-radio-button {
  margin: 5px;
}

.new-review-mat-form-field {
  width: 57rem;
  align-self: center;
}
