.matInput {
  border: none;
  box-shadow: none;
}

.form-item-box {
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.form-item-box2 {
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-right: 2rem;
  width: 26rem;
}
